.empty{
  background-color: #ddd;
  background-image: url(http://www.calgaryislamicschool.com/uploads/4/4/9/3/44938881/9684427.gif)
}

.number{
  background-color: #ccc;
}

.bomb{
  background-color: red;
}

.cell{
  padding: 3px;
  display: table-cell;
  cursor: pointer;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
}